// Apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}

body {
  font-size: $base-font-size;
}

// Make sure embeds and iframes fit their responsive containers
embed,
iframe,
object {
  max-width: 100%;
}

// Responsive images
img {
  max-width: 100%;
  height: auto;
}

::selection {
  background: #a8d1ff;
  text-shadow: none;
}

.hide {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.hide-screen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.hide-screen.focusable:active,
.hide-screen.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
